/* Base Styles */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    background-color: #fafafa;
    color: #262626;
    margin: 0 auto;
}

img {
    display: block;
}


/* -- PROFILE HEADER -- */
.profile-image img {
    border-radius: 100%;
    aspect-ratio: 1 / 1;
}

.profile button {
    cursor: pointer;
    border-radius: 3px;
}

.profile button:active {
    box-shadow: 0 0 8px gray;       /* Just so that the user can see something happens when they click. */
}

.profile-settings-btn {
    background: none;
    border: none;
    padding: 0;
    width: 20px;
    height: 20px;
}

.profile-settings-btn > i {
    padding-top: 3px;
    width: 100%;
    height: 100%;
}

.profile-edit-btn {
    background: none;
    border: 1px solid black;
    border-radius: 3px;
    padding: 3px 16px;
}

.profile-user-settings > *,
.profile-stats > * {
    display: inline-block;
    margin-left: 10px;
}

.profile-stats ul {
    padding: 10px 0 0;
}

.profile-stats ul li {
    display: inherit;
    margin-left: 25px;
}


/* -- CONTENT GALLERY -- */
.gallery {
    display: grid;
    grid-auto-rows: 400px;
    gap: 15px;
}

img.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item {
    position: relative;
}

.gallery-item-info {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
}

.gallery-item-info:hover {
    opacity: 1;
    background-color: rgb(92, 91, 91, 0.6);
    cursor: pointer;
}

.gallery-item-info, img.gallery-image {
    border-radius: 3px;             /* Just to _slightly_ take the edge off */
}

.gallery-item-info ul {
    font-size: 16px;
    color: #ffffff;
    list-style-type: none;
}

.gallery-item-info ul li{
    display: inline-block;
    margin: 10px;
}

.visually-hidden {
    display: none;
}

.gallery-item-type {    /* NOTE: I do not see this element appear anywhere in the visual example?? */
    display: none;
} 

.loader img {
    margin: 20px auto;
    width: 50px;
}


/*  
  Set 2 Media Query styles with a single breakpoint: 768px. 
  Above 768px for desktop; below that mobile and tablet styles apply. 
*/

/* Desktop Styles */
@media screen and (min-width: 769px) {
    body {
        max-width: 930px;                   /* 3x300px columns + 2x15px gaps -> respects 4x3 aspect ratio, mostly. */
        padding: 0 3rem 3rem;
    }

    /* -- PROFILE HEADER -- */
    .profile {
        display: grid;
        column-gap: 10px;
        margin: 35px 0;
        grid-template-columns: 250px auto;
        grid-template-rows: 80px 80px 90px;
    }

    .profile-image {
        grid-column: 1;
        grid-row: 1 / span 3;
    }

    .profile-image img {
        border: 15px solid rgb(45, 124, 98) ;
        width: 100%;
    }
    
    /* -- CONTENT GALLERY -- */
    .gallery {
        grid-template-columns: auto auto auto;
    }
}


/* Mobile and Tablet Styles */
@media screen and (max-width: 768px)  {
    body {
        max-width: 600px;
        padding: 0 10px 3rem;
        font-size: 11px;
    }

    /* -- PROFILE HEADER -- */
    /* The brief does mention "responsiveness", but does not include a mobile example. */
    /* So here we implement a simple solution using positioning, manually placeing Profile header elements. */
    /* Not the most elegant solution, admittedly, */
    /* but we don't want to mess with the HTML structure too much. */
    .profile {
        position: relative;
        max-width: 320px;
        margin: 0 auto;
        padding: 10px 10px 0;
        height: 180px;
    }

    .profile-image img {
        border: 5px solid rgb(45, 124, 98) ;
        height: 65px;
    }

    .profile-image {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .profile-user-name {
        position: absolute;
        top: 0px;
        left: 85px;
    }

    .profile-edit-btn {
        position: absolute;
        top: 43px;
        left: 88px;
    }

    .profile-settings-btn {
        position: absolute;
        top: 45px;
        left: 210px;
    }

    .profile-stats {
        position: absolute;
        top: 75px;
        left: 10px;
    }

    .profile-bio {
        position: absolute;
        top: 120px;
        left: 10px;
    }

    /* -- CONTENT GALLERY -- */
    .gallery {
        grid-template-columns: 300px;
        justify-content: space-around;
    }
}
