/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
}


/* Set 2 styles and a single breakpoint: 768px. Above for desktop, below mobile styles apply. */
/* Desktop Styles */
@media screen and (min-width: 769px) {
    body {                                  /* FOR DEV */
        background-color: aqua;             /* PURPOSES ONLY*/
    }                                       /* REMOVE FOR PROD*/

}


/* Mobile and Tablet Styles */
@media screen and (max-width: 768px)  {
    body {                                  /* FOR DEV */
        background-color: rebeccapurple;    /* PURPOSES ONLY*/
    }                                       /* REMOVE FOR PROD*/

}
